.span3
	=link_to 'Create new event', new_event_path, class: "btn btn-large btn-primary"
.span12
	#calendar
	#desc_dialog{style: "display:none"}
		#event_desc

		#event_actions
			%span#edit_event
			%span#delete_event
