.btn-group.page-header
	=link_to 'CREATE', new_event_path, class: "btn btn-large btn-success"
	=link_to 'PARTNER\'S CALENDAR', 'events/select_partner', remote: :true, class: "btn btn-large btn-primary"
.span12
	#calendar
	#desc_dialog{style: "display:none"}
		#event_desc

		#event_actions
			%span#edit_event
			%span#delete_event
