%tr#frequency{:style => "display:none"}
	%td=f.label :frequency, "Repeat every"
	%td
		=f.select :frequency, (1..30).to_a
		%span#period
		=text_field_tag 'event[times]', nil, class: "times"
		times


		
		
