@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
/*OVERRIDE BOOTSTRAP */
.mytable{
  label{
    float:left;
    padding: 0px 20px;
  }
  select{
    width: 120px;
  }
  .times{
      width: 50px;
  }
}
.select-form{
  select{
    display: inline;
    width:300px;
  }
  .color1{
    display: inline;
  }
}
#add_more{
    font-size: 85%;
    margin-left: 15px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
.clearfix {
  float:none !important;
}
.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
#custom-field{
  margin-top: 10px;
  font-weight: bold;
  color: #09C;
  font-size: 110%;
  input{
    padding: 5px;
  }
}


input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 15px;
  @include box_sizing;
}


#calendar{
  .fc-header{
    tbody{
      td{
        height: 50px;  
      }
    }
    
  }
}

/*DATETIMEPICKER */

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/* HEADER */
body{
	margin-top: 80px;
  background-color: #EEE !important;
  .homepage{
    text-align: center;
  }
}


.bookmark{
  text-align: center;

  }

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #09C;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #999;
  text-decoration: none;
}

/* FOOTER */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  margin-bottom: 10px;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}